@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: whitesmoke;
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://media.istockphoto.com/id/1496154596/photo/forex-colorful-diagrams-and-stock-market-data-with-lines-and-dynamics.webp?b=1&s=170667a&w=0&k=20&c=c4bT0nH6jdsO4ETj2EIuSL2d8IVyxa4J0PJPKhqnCRo=');
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  z-index: -1; 

  
}